<%# Room below the trigger for the spinbutton popover to open without clipping. %>
<div class="p-8 pb-72">
  <%= render(UI::TimepickerComponent.new(label: "Meeting time", value: "09:30", name: "event[time]")) %>
</div>
