<%= render "shared/modal",
      title: "Confirm action",
      description: "This action cannot be undone.",
      trigger: "Open dialog",
      trigger_class: "btn-primary" do %>
  <p>Are you sure you want to proceed? All related data will be permanently removed.</p>
<% end %>
