<%# Real public audio so the player actually plays in Lookbook. The 0b spec asserts %>
<%# the <audio> markup + axe, never media loading, so external sources are safe. %>
<div data-test="audio">
  <%= render(UI::AudioComponent.new) do |a| %>
    <% a.with_source(src: "https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3", type: "audio/mpeg") %>
  <% end %>
</div>
