<div class="flex h-5 items-center gap-3">
  <span class="text-sm text-text-body">Edit</span>
  <%= ui :separator, orientation: :vertical %>
  <span class="text-sm text-text-body">Delete</span>
</div>
