<div class="p-24 flex justify-center">
  <%= render(UI::TooltipComponent.new(text: "Saved to your library")) do %>
    <span class="underline decoration-dotted">Hover or focus me</span>
  <% end %>
</div>
