<div class="max-w-xs">
  <%= ui :combobox,
        name: "country",
        label: "Country",
        value: "ca",
        size: :lg,
        options: [
          { value: "us", label: "United States" },
          { value: "ca", label: "Canada" },
          { value: "mx", label: "Mexico" }
        ] %>
</div>
