<div class="flex flex-col gap-4">
  <%= ui :chat_bubble, author: "Ada Lovelace", timestamp: "10:32 AM" do %>
    I'll check and get back to you shortly.
  <% end %>
  <%= ui :chat_bubble, sent: true, author: "You", timestamp: "10:34 AM" do %>
    Sounds great, see you then!
  <% end %>
</div>
